<!DOCTYPE html>
<html lang="en">

<head>
	<title>Burgers</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/assets/"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>