<h1>yo burgers</h1>

<h3>get yo hot fresh boigers</h3>

<ul>
	{{#each burger}}
	<li>
		<p>ID: {{this.id}}</p>
		<p>Burger: {{this.burger_name}}</p>
	
		<button class="delete-burger" data-id="{{id}}"> devour this burger</button>
	</li>
	{{/each}}
</ul>

<form action="/api/burgers" method="POST">
	<textarea type="text" name="newBurger"></textarea>

	<button type="submit">Submit</button>
</form>